:root {
    font-size: 62.5%;

    --todo-darkest: #14532d;
    --todo-dark: #15803d;
    --todo-light: #22c55e;
    --todo-lighter: #4ade80;

    --fades: #f5f5f5;
    --fader: #e5e5e5;
    /* --fade: #cbd5e1; */

    --border: 1px solid black;
    --border-radius: 2rem;
    --gap1x: 1rem;
    --gap2x: 2rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--todo-darkest);
    min-height: 5vh;
    width: 100%;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: var(--todo-darkest);
    min-height: 5vh;
    width: 100%;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
}

section {
    /* width: 100%; */
    display: flex;
    flex: 1;
    min-height: calc(100% - 5vh - 5vh);
}

nav {
    background-color: var(--todo-light);
    width: 35%;
    min-width: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap2x);
    padding: 2rem;
    transition: height 1s ease-in-out;
}

nav.media {
    display: flex;
}

.nav-control {
    display: none;
}

main {
    background-color: var(--fades);
    width: 65%;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
p {
    cursor: default;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.4  rem;
}

button,
input {
    background-color: inherit;
    color: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    
}

input,
textarea {
    background-color: #FFF;
}

button.menu,
button.projects,
button.control {
    width: 100%;
    height: 3rem;
    display: grid;
    grid-template-columns: 2rem 1fr 3rem 2rem;
    align-items: center;
    font-size: 1.6rem;
    gap: var(--gap1x);
    border-radius: var(--border-radius);
    padding: .5rem 2rem;
    text-align: left;
    overflow: hidden;
}

button.menu{
    grid-template-columns: auto 1fr;
    justify-items: left;
}

button.control {
    grid-template-columns: auto auto;
    place-items: center;
    padding: .5rem 8rem;
}

i {
    width: 100%;
}

#projects-filter {
    width: 100%;
}

#projects-user {}

button.menu:hover,
button.projects:hover,
button.control:hover,
.taskDisplay:hover {
    background-color: var(--todo-dark);
}

.active {
    background-color: var(--todo-darkest);
    color: #fff ;
}

.projectNumbers {
    background-color: var(--todo-lighter);
    color: #000 ;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    text-align: center;
}

.projectDelete {
    opacity: 0;
    transition: 0.2s linear;
}

.projectDelete:hover {
    opacity: 0.9;
}

.editProject {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "name name"
        "paccept pcancel";
    border: var(--border);
    border-radius: var(--border-radius);
}

.editProjectName,
.projectAccept,
.projectCancel {
    padding: 1rem;
    border: none;
    resize: none;
}

.editProjectName {
    grid-area: name;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.projectAccept {
    grid-area: paccept;
    border: 0;
    border-top: var(--border);
    border-right: var(--border);
    border-bottom-left-radius: var(--border-radius);
}

.projectCancel {
    grid-area: pcancel;
    border: 0;
    border-top: var(--border);
    border-bottom-right-radius: var(--border-radius);
}

#content-attributes {
    height: 2rem;
    grid-template-columns: 3rem 2fr 1fr;
}

.hidden {
    visibility: hidden;
}

#content-items {
    width: 100%;
}

#task-add {
    /* width: 100%; */
}

.taskPreview {
    /* height: 2rem; */
}

.taskDisplay {
    height: 2rem;
    grid-template-columns: 3rem 2fr 1fr 3rem;
    font-size: 1.8rem;
}

.taskTitle,
.taskDate {
    background-color: inherit;
    border: 0;
}

.editTask {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3rem 1fr 3rem 3rem;
    grid-template-areas:
        "priority title title title"
        "description description description description"
        "date date project project"
        "taccept taccept tcancel tcancel";
    border: var(--border);
    border-radius: var(--border-radius);
}

.editTaskPriority,
.editTaskTitle,
.editTaskDescription,
.editTaskDate,
.editTaskProject,
.taskAccept,
.taskCancel {
    padding: .5rem;
    border: none;
    resize: none;
}

.editTaskPriority {
    grid-area: priority;
    border-top-left-radius: var(--border-radius);
    border-right: var(--border);
    border-bottom: var(--border);
}

.editTaskTitle {
    grid-area: title;
    border-top-right-radius: var(--border-radius);
    border-bottom: var(--border);
    font-size: 1.6rem;
}

.editTaskDescription {
    grid-area: description;
}

.editTaskDate {
    grid-area: date;
    border-top: var(--border);
    border-right: var(--border);
}

.editTaskProject {
    grid-area: project;
    border-top: var(--border);
}

.taskAccept {
    grid-area: taccept;
    border: 0;
    border-top: var(--border);
    border-right: var(--border);
    border-bottom-left-radius: var(--border-radius);
}

.taskCancel {
    grid-area: tcancel;
    border: 0;
    border-top: var(--border);
    border-bottom-right-radius: var(--border-radius);
}

@media (max-width: 650px) {
    .nav-control {
        display: flex;
    }

    .projectDelete {
    opacity: 1;
    }

    section {
        flex-direction: column;
    }

    nav {
        width: 100%;
        display: none;
    }

    main {
        width: 100%;
    }


}

.flex-center,
.flex-column,
.flex-row {
    display: flex;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.end {
    justify-content: flex-end;
}

.grid {
    display: grid;
    align-items: center;
    width: 100%;
}

.gap {
    gap: var(--gap1x);
}

.gap2 {
    gap: var(--gap2x);
}

.width-100 {
    width: 100%;
}