@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    font-size: 62.5%;

    --todo-darkest: #14532d;
    --todo-dark: #15803d;
    --todo-light: #22c55e;
    --todo-lighter: #4ade80;

    --fades: #f5f5f5;
    --fader: #e5e5e5;
    --color: #fff;
    --invalid: #dc2626;

    --font: 'Open Sans', sans-serif;
    --border: 1px solid black;
    --border-radius: 2rem;
    --gap1x: 1rem;
    --gap2x: 2rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    /* width: 100%; */
    font-family: var(--font);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--todo-darkest);
    min-height: 10vh;
    width: 100%;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: var(--todo-darkest);
    min-height: 5vh;
    width: 100%;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
}

section {
    /* width: 100%; */
    display: flex;
    flex: 1;
    min-height: calc(100% - 10vh - 5vh);
}

nav {
    background-color: var(--todo-light);
    width: 35%;
    min-width: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap2x);
    padding: 2rem;
    transition: height 1s ease-in-out;
}

nav.media {
    display: flex;
}

#nav-control {
    display: none;
}

main {
    background-color: var(--fades);
    width: 65%;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    cursor: default;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.4 rem;
}

#icon,
#title {
    /* height: 4rem; */
    font-size: 4rem;
}

#left-header,
#right-header {
    display: grid;
    grid-template-columns: 5rem 1fr;
}

button,
input {
    background-color: inherit;
    color: inherit;
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    cursor: pointer;
}

input,
textarea {
    background-color: var(--color);
}

button.menu,
button.projects,
button.control {
    width: 100%;
    height: 3rem;
    display: grid;
    align-items: center;
    font-size: 2rem;
    gap: var(--gap1x);
    border-radius: var(--border-radius);
    padding: .5rem 2rem;
    text-align: left;
    overflow: hidden;
}

button.menu {
    grid-template-columns: 2rem 1fr;
    justify-items: left;
}

button.projects {
    grid-template-columns: 2rem 1fr 3rem 2rem;
}


button.control {
    height: 4rem;
    grid-template-columns: auto auto;
    place-items: center;
}

button.special {
    font-size: 3.5rem;
}

i {
    width: 100%;
}

#add-project {
    padding: .5rem 8rem;
}

#projects-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap1x);
}

#projects-user {
    width: 100%;
    display: grid;
    align-items: center;
    gap: var(--gap1x);
}

button.menu:hover,
button.projects:hover,
button.control:hover,
.taskDisplay:hover {
    background-color: var(--todo-dark);
    color: var(--color);
}

.active {
    background-color: var(--todo-darkest);
    color: var(--color);
}

.rotate {
    transform: rotate(180deg);
    /* transition-delay: 0.2s; */
}

.projectNumbers {
    background-color: var(--todo-lighter);
    color: #000;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
}

.delete {
    opacity: 0;
    transition: 0.2s linear;
}

.delete:hover {
    opacity: 0.9;
}

.editProject {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "name name"
        "paccept pcancel";
    font-family: var(--font);
    border: var(--border);
    border-radius: var(--border-radius);
}

.editProjectName,
.projectAccept,
.projectCancel {
    padding: 1rem;
    border: none;
    resize: none;
}

.editProjectName {
    grid-area: name;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.projectAccept {
    grid-area: paccept;
    border: 0;
    border-top: var(--border);
    border-right: var(--border);
    border-bottom-left-radius: var(--border-radius);
}

.projectCancel {
    grid-area: pcancel;
    border: 0;
    border-top: var(--border);
    border-bottom-right-radius: var(--border-radius);
}

.sort-attrib {
    display: flex;
    align-items: center;
    justify-content: start;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-title-container {
    height: 5rem;
}

.hidden {
    visibility: hidden;
}

#content-attributes {
    height: 3rem;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 2rem 2fr 1fr 2rem;
    gap: var(--gap1x);
    padding: 0 1rem;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap1x);
}

#content-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-task {
    padding: .5rem 25rem;
}

.taskDisplay {
    height: 3rem;
    grid-template-columns: 2rem 2fr 1fr 2rem;
    font-size: 1.6rem;
    padding: 0 2rem 0 1rem;
    border-radius: var(--border-radius);
}

.taskTitle,
.taskDate {
    background-color: inherit;
    border: 0;
}

.taskDate {
    width: 10rem;
}

.editTask {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3rem 1fr 3rem 3rem;
    grid-template-areas:
        "priority title title title"
        "description description description description"
        "date date project project"
        "taccept taccept tcancel tcancel";
    border: var(--border);
    border-radius: var(--border-radius);
}

.editTaskPriority,
.editTaskTitle,
.editTaskDescription,
.editTaskDate,
.editTaskProject,
.taskAccept,
.taskCancel {
    padding: .5rem 1rem;
    border: none;
    resize: none;
}

.editTaskPriority {
    grid-area: priority;
    border-top-left-radius: var(--border-radius);
    border-right: var(--border);
    border-bottom: var(--border);
}

.editTaskTitle {
    grid-area: title;
    border-top-right-radius: var(--border-radius);
    border-bottom: var(--border);
    font-size: 1.6rem;
}

.editTaskDescription {
    grid-area: description;
}

.editTaskDate {
    grid-area: date;
    border-top: var(--border);
    border-right: var(--border);
}

.editTaskProject {
    grid-area: project;
    border-top: var(--border);
}

.taskAccept {
    grid-area: taccept;
    border: 0;
    border-top: var(--border);
    border-right: var(--border);
    border-bottom-left-radius: var(--border-radius);
}

.taskCancel {
    grid-area: tcancel;
    border: 0;
    border-top: var(--border);
    border-bottom-right-radius: var(--border-radius);
}

.projectAccept,
.taskAccept {
    background-color: var(--todo-light);
}

.projectCancel,
.taskCancel {
    background-color: var(--invalid);
}

@media (max-width: 650px) {
    section {
        flex-direction: column;
    }

    nav {
        width: 100%;
        display: none;
    }

    main {
        width: 100%;
    }

    #nav-control {
        display: flex;
    }

    #add-task {
        padding: .5rem 10rem;
    }

    .delete {
        opacity: 1;
    }

}

.flex-center,
.flex-column,
.flex-row {
    display: flex;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.end {
    justify-content: flex-end;
}

.grid {
    display: grid;
    align-items: center;
    width: 100%;
}

.gap {
    gap: var(--gap1x);
}

.gap2 {
    gap: var(--gap2x);
}

.w-100 {
    width: 100%;
}